// colors
$mainColor: #2979ff;
$mainDarkColor: #004ecb;
$mainLightColor: #75a7ff;
$mainTextColor: #fafafa;

// Animations
@mixin shadowing {
	box-shadow: 2px 3px 5px black;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
		to right,
		#7474bf 0%,
		#348ac7 51%,
		#7474bf 93%
	);

	.todo-list {
		background-color: white;
		display: flex;
		flex-flow: column wrap;
		// padding: 10px;
		border: {
			top: {
				left-radius: 5px;
				right-radius: 5px;
			}
			bottom: {
				left-radius: 5px;
				right-radius: 5px;
			}
		}
		box: {
			shadow: 5px 5px 5px 0px black;
		}

		.todo-header {
			padding: 10px 15px 5px;

			.date-heading {
				margin-top: 0px;
				margin-bottom: 0px;
			}
			.clock {
				display: flex;
				flex-direction: row-reverse;
			}
		}

		.todo-box {
			width: 100%;

			& > * {
				padding-left: 15px;
			}

			.task {
                position: relative;
                overflow: hidden;
				.hover-effect {
					width: 100%;
					height: 100%;
					left: -100%;
					background: #2979ff;
					position: absolute;
					transition: all 0.25s ease;
					z-index: 1;
				}

                .task-name, .task-checkbox {
                    position: relative;
                    z-index: 2;
                }

                .task-name {
                    padding-left: 10px;
                }

				&:hover {
					@include shadowing();
                    .hover-effect{
                        left: 0;
                    }
                    .task-name {
                        color: $mainTextColor;
                    }

				}
			}
			.task-input {
                padding-bottom: 15px;
				input {
					border: none;
					&:focus {
						outline: none;
						border-bottom: 1px solid;
					}
				}

				.submit-btn {
                    float: right;
                    margin-right: 10px;
					height: 25px;
					width: 25px;
					padding-top: 3.5px;

					background-color: $mainDarkColor;
					color: $mainTextColor;
					border: none {
						radius: 100%;
						
					};
					text-align: center;
					font: {
						weight: bold;
						size: 1.25rem;
					}
					cursor: pointer;

					&:hover {
						background-color: $mainColor;
						transition: all 0.1s ease;
						@include shadowing();
					}


				}
			}
		}
	}
}
